{
  "extends": "es/2015/server",
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "dot-location": ["error", "property"],
    "no-underscore-dangle": ["error", {
      "allow": ["_id"]
    }],
    "keyword-spacing": ["error", {
      "after": false,
      "overrides":
        {
          "const": { "after": true },
          "try": { "after": true },
          "case": { "after": true },
          "else": { "after": true },
          "return": { "after": true }
        }
    }],
    "new-cap": [ 2, {
      newIsCap: true,
      capIsNew: true,
      newIsCapExceptions: [],
      capIsNewExceptions: ["Router"],
      properties: true
    }],
  }
}
